<html>
<head>
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="/static/css/App.css">
</head>

<body>
    <h1>Welcome to the Recipe Finder</h1>
    <p>Looking for cooking inspiration? Plan meals and try out new recipes using our search engine. </p>

    <div class="navigation">
        <p>
        <form action="/search">
            <button class="nav" type="submit" title="Look for recipes using keywords like soup, pasta, etc.">Search by Category</button>
        </form>
        </p>

        <p>
        <form action="/random">
            <button class="nav" type="submit" title="Receives a random recipe of any category.">Generate Random Recipe</button>
        </form> 
        </p>

        <p>
            <form action="/about">
                <button class="nav" type="submit" title="Find out more about the app and functions.">Learn More</button>
            </form> 
        </p>
    </div>
</body>
</html>
